img{
  display: block;
  width: auto;

}

#image{
  max-width:100%;
  height:auto;
  margin:0 auto;
}
.site{
 display:auto;
 color: black;
 font-size : 15px;
 
 
} 
p{
 font-family: "Comic Sans MS", cursive;

 
}
body{
 blackground-color: blue;
 color: black;

}